.cl-checkbox {
	display: inline-flex;
	align-items: center;
	margin-right: 20rpx;

	&__input {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		box-sizing: border-box;
		border: $cl-border-width solid $cl-border-color;
		border-radius: 6rpx;
		position: relative;
		transition: all 0.3s;

		text {
			font-size: 24rpx;
			position: absolute;
		}
	}

	&__label {
		display: inline;
		margin-left: 14rpx;
		font-size: 26rpx;
	}

	&.is-checked {
		.cl-checkbox__input {
			background-color: $cl-color-primary;
			border-color: $cl-color-primary;
			color: #fff;
		}
	}

	&.is-disabled {
		.cl-checkbox__input {
			background-color: $cl-color-disabled-bg;
			border-color: transparent;
			color: $cl-color-disabled;
		}

		.cl-checkbox__label {
			color: $cl-color-disabled;
		}
	}

	&.is-fill {
		justify-content: center;
		width: 100%;
	}

	&.is-border {
		border-radius: 10rpx;
		padding: 10rpx 30rpx;
		margin-bottom: 20rpx;
		border: $cl-border-width solid $cl-border-color;
		box-sizing: border-box;
		line-height: normal;

		.cl-checkbox__input {
			display: none;
		}

		.cl-checkbox__label {
			margin-left: 0;
		}

		&.is-checked {
			border: 1rpx solid $cl-color-primary;
			background-color: $cl-color-primary;
			color: #fff;
		}
	}

	&.is-round {
		.cl-checkbox__input {
			border-radius: 100%;
		}
	}
}

// #ifdef MP
cl-checkbox {
	display: inline-flex;
}

.cl-checkbox-group {
	&.is-fill {
		cl-checkbox {
			display: inline;
		}
	}
}
// #endif
