.cl-confirm {
	position: relative;
	z-index: 400;

	::v-deep .cl-popup {
		overflow: hidden;
	}

	&__message {
		word-break: break-all;
	}

	.cl-dialog {
		&__footer {
			padding: 0 !important;
			margin-top: 10rpx;
		}
	}

	&__footer {
		display: flex;
		width: 100%;

		&-item {
			position: relative;
			flex: 1;
		}
	}
}
