.cl-form {
	.cl-form-item {
		padding: 20rpx 0;
		position: relative;

		&.is-required {
			.cl-form-item__label::after {
				content: "*";
				color: $cl-color-error;
				margin-left: 10rpx;
			}
		}

		&__container {
			display: flex;

			&:first-child {
				padding-left: 180rpx;
			}
		}

		&__label {
			padding: 0 20rpx 0 0;
			font-size: 28rpx;
			text-align: right;
			vertical-align: middle;
			float: left;
		}

		&__content {
			flex: 1;
			font-size: 26rpx;

			&.is-justify--left {
				text-align: left;
			}

			&.is-justify--center {
				text-align: center;
			}

			&.is-justify--end {
				text-align: right;
			}

			picker {
				font-size: 26rpx;
			}

			label {
				font-size: 26rpx;

				switch,
				radio,
				checkbox {
					margin-right: 14rpx;
				}

				radio,
				checkbox {
					top: -2rpx;
				}

				switch {
					top: -4rpx;
				}
			}

			checkbox-group,
			radio-group {
				label {
					padding-right: 30rpx;
				}
			}

			cl-textarea,
			cl-select-region,
			cl-select,
			cl-input {
				width: 100%;
			}
		}

		&__message {
			display: block;
			color: $cl-color-error;
			font-size: 24rpx;
			text-align: right;
			margin-top: 6rpx;
		}

		&__prefix,
		&__suffix {
			display: flex;
			align-items: center;
			font-size: 26rpx;

			i {
				display: inline-block;
			}
		}

		&__prefix {
			margin-right: 20rpx;
		}

		&__suffix {
			margin-left: 20rpx;
		}

		&.is-top {
			padding: 0 0 20rpx 0;

			.cl-form-item__label {
				padding: 20rpx 0 20rpx 0;
				float: none;
				text-align: left;
			}
		}

		&.is-left {
			.cl-form-item__label {
				text-align: left;
			}
		}

		&.is-right {
			.cl-form-item__label {
				text-align: right;
			}
		}
	}

	&--border {
		.cl-form-item {
			border-bottom: $cl-border-width solid #eee;
		}
	}
}
