.cl-image {
	flex-shrink: 0;
	position: relative;
	font-size: $cl-font-size;

	&__target {
		display: inline-block;
		height: 100%;
		width: 100%;
		max-height: 100%;
		max-width: 100%;
		border-radius: inherit;
	}

	&__loading,
	&__placeholder,
	&__error {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__loading {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.cl-icon-image {
		font-size: 40rpx;
	}

	&__error {
		text-align: center;
		color: #666;
	}

	&.is-round {
		.cl-image__placeholder,
		.cl-image__error,
		.cl-image__target {
			border-radius: 100%;
		}
	}

	&.is-error {
		background-color: #f6f7fa;
	}
}
