.cl-radio {
	display: inline-flex;
	align-items: center;
	margin-right: 20rpx;

	&__input {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		box-sizing: border-box;
		border: 6rpx solid $cl-border-color;
		border-radius: 40rpx;
		transition: all 0.3s;
		position: relative;

		text {
			display: inline-block;
			position: absolute;
			height: 20rpx;
			width: 20rpx;
		}
	}

	&__label {
		display: inline;
		margin-left: 14rpx;
		font-size: 26rpx;
	}

	&.is-checked {
		.cl-radio__input {
			background-color: $cl-color-primary;
			border-color: $cl-color-primary;

			text {
				background-color: $cl-color-primary;
				border: 4rpx solid #fff;
				border-radius: 20rpx;
			}
		}
	}

	&.is-disabled {
		.cl-radio__input {
			background-color: $cl-color-disabled-bg;
			border-color: transparent;
			color: $cl-color-disabled;
		}

		.cl-radio__label {
			color: $cl-color-disabled;
		}
	}

	&.is-border {
		border-radius: 10rpx;
		padding: 10rpx 30rpx;
		margin-bottom: 20rpx;
		border: $cl-border-width solid $cl-border-color;
		box-sizing: border-box;
		line-height: normal;

		.cl-radio__input {
			display: none;
		}

		.cl-radio__label {
			margin-left: 0;
		}

		&.is-checked {
			border: 1rpx solid $cl-color-primary;
			background-color: $cl-color-primary;
			color: #fff;
		}
	}

	&.is-fill {
		justify-content: center;
		width: 100%;
	}
}

// #ifdef MP
cl-radio {
	display: inline-flex;
}

.cl-radio-group {
	&.is-fill {
		cl-radio {
			display: inline;
		}
	}
}
// #endif
