.cl-text {
	display: inline-block;
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;
	font-size: $cl-font-size;

	&.is-bold {
		font-weight: 500;
	}

	&.is-block {
		display: block;
	}

	&.is-price {
		top: 2rpx;
	}

	&.is-phone {
		top: 1rpx;
	}

	&.is-line-through {
		text-decoration: line-through;
	}

	&.is-underline {
		.cl-text__value {
			text-decoration: underline;
		}
	}

	&.is-ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}

	&.is-copy {
		user-select: text;
	}

	&.is-flex1 {
		flex: 1;
	}

	&.is-color-primary {
		color: $cl-color-primary;
	}

	&.is-color-success {
		color: $cl-color-success;
	}

	&.is-color-error {
		color: $cl-color-error;
	}

	&.is-color-warning {
		color: $cl-color-warning;
	}

	&.is-color-info {
		color: $cl-color-info;
	}

	&__symbol--price {
		font-size: 22rpx;
	}

	&__precision {
		font-size: 24rpx;
	}

	&__prefix-icon {
		margin-right: 10rpx;
	}

	&__suffix-icon {
		margin-left: 10rpx;
	}

	&__value {
		line-height: 1;
	}
}
