.cl-topbar {
	display: flex;
	align-items: center;
	height: $cl-status-height;
	width: 100%;
	position: relative;

	&__content {
		width: 100%;
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		text {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&__title {
		font-size: 32rpx;
		width: 500rpx;
	}

	&__description {
		font-size: 22rpx;
		color: #999;
		width: 400rpx;
	}

	&__prepend,
	&__append {
		display: flex;
		align-items: center;
		height: $cl-status-height;
		position: absolute;

		/* #ifdef MP */
		& > view {
			display: flex;
		}
		/* #endif */
	}

	&__prepend {
		left: 0;
	}

	&__append {
		right: 0;
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 80rpx;
		font-size: 40rpx;

		&:active {
			opacity: 0.8;
		}

		.cl-icon-arrow-left {
			font-size: 44rpx;
		}
	}

	&.is-fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	&.is-border {
		border-bottom: 1rpx solid #f7f7f7;
	}

	&.is-android {
		padding-top: 44rpx;

		&__prepend,
		&__append {
			top: 44rpx;
		}
	}
}
