.cl-tree {
	&-item {
		&__content {
			display: flex;
			align-items: center;
			height: 50rpx;
		}

		&__expand {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: 50rpx;
			width: 50rpx;

			.icon-caret {
				display: inline-block;
				transform: rotate(-90deg);
				transition: transform 0.3s;
			}
		}

		&__label {
			font-size: $cl-font-size;
		}

		&__children {
			overflow: hidden;
			transition: all 0.3s;
		}

		&.is-expand {
			& > .cl-tree-item__content .icon-caret {
				transform: rotate(0deg);
			}
		}
	}
}
