/* 颜色变量 */

$cl-color-primary: #409eff;
$cl-color-default: #dcdfe6;
$cl-color-success: #67c23a;
$cl-color-warning: #e6a23c;
$cl-color-error: #f56c6c;
$cl-color-info: #909399;
$cl-color-disabled: #c0c4cc;
