@import "./static/css/index.scss";

.uni-page-head {
	.uni-page-head-btn {
		height: 27px;
		width: 27px;
	}

	.uni-page-head-bd {
		.uni-page-head__title {
			font-weight: 500;
			letter-spacing: 1rpx;
		}
	}
}
