.cl-card {
	background-color: #fff;
	border-radius: 16rpx;
	margin-bottom: 20rpx;

	&__header {
		display: flex;
		align-items: center;
		height: 80rpx;
		border-bottom: 1rpx solid #f7f7f7;
		position: relative;
		padding: 0 20rpx;
	}

	&__more {
		display: flex;
		align-items: center;
		position: absolute;
		right: 20rpx;
		line-height: 1rpx;

		.cl-icon-arrow-right {
			font-size: 30rpx;
			color: #777;
		}
	}

	&__container {
		padding: 20rpx;
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 90rpx;
		padding: 0 20rpx;
	}
}
