:export {
	primaryColor: $cl-color-primary;
	successColor: $cl-color-success;
	warningColor: $cl-color-warning;
	errorColor: $cl-color-error;
	infoColor: $cl-color-info;
	disabledColor: $cl-color-disabled;
}
