.cl-confirm {
	position: relative;
	z-index: 310;

	.cl-dialog {
		&__footer {
			padding: 0 !important;
			margin-top: 10rpx;
		}
	}

	&__footer {
		display: flex;
		width: 100%;

		.cl-confirm__button {
			border: 0;
			border-radius: 0;
			flex: 1;
			position: relative;
			padding: 6rpx 0;
			font-size: 28rpx;

			&.is-confirm {
				color: $cl-color-primary;
			}

			&:active {
				opacity: 0.8;
			}
		}
	}
}
