.cl-image {
	flex-shrink: 0;

	&__target {
		height: 100%;
		width: 100%;
		max-height: 100%;
		max-width: 100%;
	}

	&__placeholder {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}

	.cl-icon-image {
		font-size: 40rpx;
	}

	&__error {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		font-size: 24rpx;
		text-align: center;
	}

	&.is-round {
		.cl-image__placeholder,
		.cl-image__error,
		.cl-image__target {
			border-radius: 100%;
		}
	}
}
