page {
	background-color: #f6f7fa;
	height: 100%;

	& > div {
		height: 100%;
	}
}

.uni-tabbar {
	&__icon {
		height: 50rpx !important;
		width: 50rpx !important;
	}
}

.uni-page-head {
	.uni-page-head-btn {
		height: 27px;
		width: 27px;
	}

	.uni-page-head-bd {
		.uni-page-head__title {
			font-weight: 500;
			letter-spacing: 1rpx;
		}
	}
}

.mp-html {
	p {
		line-height: normal !important;
	}

	img {
		display: block;
	}

	image {
		display: block;
	}
}
