.cl-input-number {
	display: inline-flex;
	align-items: center;

	&__plus,
	&__minus {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 40rpx;
		width: 40rpx;
		margin: 0;
		padding: 0;
		border-radius: 6rpx;
		font-size: 28rpx;

		&::after {
			border: 0;
		}

		&:active {
			opacity: 0.8;
		}
	}

	&__plus {
		background-color: $cl-color-primary;
		color: #fff;
	}

	&__minus {
		background-color: #eee;
	}

	&__value {
		font-size: 26rpx;
		margin: 0 20rpx;
		text-align: center;

		input {
			height: 40rpx;
			line-height: 40rpx;
			padding: 0 10rpx;
			border-radius: 8rpx;
			border: 1rpx solid #dcdfe6;
			font-size: 26rpx;
			box-sizing: border-box;
		}

		text {
			font-size: 24rpx;
		}
	}
}
