.cl-input {
	display: flex;
	height: 70rpx;
	width: 100%;
	vertical-align: middle;
	position: relative;
	border-radius: 8rpx;
	box-sizing: border-box;
	transition: border-color 0.2s;
	padding: 0 20rpx;
	background-color: #fff;

	&--focus {
		border-color: rgba($cl-color-primary, 0.7);
	}

	&__wrap {
		display: flex;
		align-items: center;
		flex: 1;
		height: 100%;
		position: relative;
	}

	&__inner {
		height: 100%;
		flex: 1;
		font-size: 26rpx;
		border: 0;
		padding: 0;
		outline: none;
		background-color: transparent;
	}

	&__prepend,
	&__append {
		display: flex;
		align-items: center;
		font-size: 26rpx;
	}

	&__prepend {
		margin-right: 20rpx;
	}

	&__append {
		margin-left: 20rpx;
	}

	&__clear,
	&__icon {
		display: inline-block;
		font-size: 34rpx;
		color: #999;
		cursor: pointer;
	}

	&__clear {
		color: #c1c1c1;
		margin-left: 20rpx;
	}

	&:not(.is-disabled) {
		-webkit-box-shadow: 0 0 0 1000px transparent inset;
	}

	&--prefix,
	&--suffix {
		flex-shrink: 0;

		.cl-input__icon {
			position: absolute;
			text-align: center;
		}
	}

	&--prefix {
		.cl-input__wrap {
			padding-left: 46rpx;
		}

		.cl-input__icon {
			left: 0;
		}
	}

	&--suffix {
		.cl-input__wrap {
			padding-right: 46rpx;
		}

		.cl-input__icon {
			right: 0;
		}
	}

	&.is-disabled {
		background-color: #f5f7fa;
	}

	&.is-border {
		border: 1rpx solid #dcdfe6;
	}

	&.is-disabled {
		background-color: #f5f7fa;

		.cl-input__inner {
			background-color: #f5f7fa !important;
			color: #c0c4cc;
		}
	}

	&.is-round {
		border-radius: 100rpx;

		.cl-input__inner {
			border-radius: 100rpx;
		}
	}
}

.cl-form-item--error {
	input {
		border-color: $cl-color-error;
	}
}
