.cl-loading-mask__wrap {
	.cl-loading-mask {
		position: absolute;
		z-index: 2000;
		background-color: rgba(0, 0, 0, 0.2);
		margin: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: opacity 0.3s;
		pointer-events: none;

		&.is-show {
			opacity: 1;
			pointer-events: auto;
		}

		&--fixed {
			position: fixed;
		}

		&__content {
			top: 50%;
			margin-top: -42rpx;
			width: 100%;
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__text {
			font-size: 26rpx;
			margin-top: 10rpx;
			letter-spacing: 1rpx;
		}
	}
}
