.cl-message__wrap {
	.cl-message {
		display: flex;
		align-items: center;
		min-width: auto;
		box-sizing: border-box;
		border-radius: 8rpx;
		position: fixed;
		left: 50%;
		top: -200rpx;
		transform: translateX(-50%);
		overflow: hidden;
		padding: 24rpx 40rpx 24rpx 30rpx;
		background-color: #fff;
		border: 1rpx solid #eee;
		z-index: 3030;
		opacity: 0;
		transition: all 0.6s ease-in-out;

		&__icon {
			margin-right: 20rpx;
		}

		&__content {
			padding: 0;
			font-size: 26rpx;
			line-height: 1;
			color: #666;
		}

		&.is-show {
			opacity: 1;
		}
	}
}
