.cl-scroller {
	position: relative;
	height: 100%;

	&__loading {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: absolute;
		left: 0;
		min-height: 100rpx;

		.cl-loading {
			position: relative;
			/* #ifdef MP-WEIXIN */
			top: 6rpx;
			/* #endif */
		}
	}

	&__view {
		height: 100%;
	}
}
