.cl-select {
	position: relative;
	width: 100%;
	padding-left: 20rpx;
	padding-right: 60rpx;
	font-size: 26rpx;
	box-sizing: border-box;

	picker {
		height: 70rpx;
		line-height: 70rpx;
	}

	&__inner {
		height: 70rpx;
		line-height: 70rpx;
	}

	&__value {
		display: inline-block;
		height: 70rpx;
		width: 100%;
	}

	&__icon {
		position: absolute;
		right: 18rpx;
		top: 0;
	}

	&__placeholder {
		color: #999;
	}

	&.is-disabled {
		color: #c0c4cc;

		.cl-select__placeholder {
			color: #c0c4cc;
		}

		&.is-border {
			background-color: #f5f7fa;
		}
	}

	&.is-border {
		border: 1rpx solid #dcdfe6;
		border-radius: 8rpx;
	}
}

.cl-select-region {
	width: 100%;
}
