@mixin color($color) {
	background-color: $color;

	&.is-plain {
		color: $color;
		border-collapse: $color;
		background-color: #fff;
	}
}

.cl-tag {
	border-radius: 6rpx;
	padding: 0 20rpx;
	height: 56rpx;
	line-height: 56rpx;
	font-size: 26rpx;
	color: #fff;
	display: inline-block;

	.cl-tag__close {
		margin-left: 10rpx;
	}

	&--small {
		height: 56rpx;
		line-height: 56rpx;
	}

	&--mini {
		height: 48rpx;
		line-height: 48rpx;
		font-size: 24rpx;
	}

	&.is-round {
		border-radius: 48rpx;
	}

	&.is-plain {
		border-width: 1rpx;
		border-style: solid;
	}

	&--primary {
		@include color($cl-color-primary);
	}

	&--success {
		@include color($cl-color-success);
	}

	&--warning {
		@include color($cl-color-warning);
	}

	&--error {
		@include color($cl-color-error);
	}

	&--info {
		@include color($cl-color-info);
	}
}

.cl-tag + .cl-tag,
cl-tag + cl-tag {
	margin-left: 20rpx;
}
