.cl-text {
	display: inline-block;
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;

	&.is-bold {
		font-weight: 500;
	}

	&.is-block {
		display: block;
	}

	&.is-price {
		top: 2rpx;
	}

	&.is-phone {
		top: 1rpx;
	}

	&.is-line-through {
		text-decoration: line-through;
	}

	&.is-ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}

	&.is-color-primary {
		color: $color-primary;
	}

	&.is-color-success {
		color: $color-success;
	}

	&.is-color-error {
		color: $color-error;
	}

	&.is-color-warning {
		color: $color-warning;
	}

	&.is-color-info {
		color: $color-info;
	}

	&__symbol--price {
		font-size: 22rpx;
	}

	&__precision {
		font-size: 24rpx;
	}
}
