.cl-search {
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 15rpx 20rpx;
	box-sizing: border-box;
	margin-bottom: 20rpx;
	padding-top: env(safe-area-inset-top);

	&__input {
		flex: 1;
		position: relative;

		.cl-input {
			border-radius: 70rpx !important;
			overflow: hidden;
		}

		&-btn {
			position: absolute;
			right: 0;
			top: 0;
			z-index: 9;
		}

		.cl-button {
			height: 70rpx;
			line-height: 68rpx;
		}
	}

	&__prepend,
	&__append {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__prepend {
		margin-right: 20rpx;
	}

	&__append {
		margin-left: 20rpx;
	}
}
