.cl-badge {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	z-index: 9;

	&__content {
		display: inline-flex;
		height: 24rpx;
		min-width: 12rpx;
		align-items: center;
		justify-content: center;
		text-align: center;
		white-space: nowrap;
		font-size: 16rpx;
		color: #fff;
		position: absolute;
		top: -12rpx;
		right: -12rpx;
		border: 2rpx solid rgba(255, 255, 255, 0.8);
		border-radius: 32rpx;
		padding: 0 6rpx;
	}

	&.is-dot {
		.cl-badge__content {
			height: 14rpx;
			width: 14rpx;
			padding: 0;
			border-radius: 50%;
			top: -7rpx;
			right: -7rpx;
		}
	}

	&.is-plain {
		.cl-badge__content {
			background-color: #fff;
			color: $cl-color-primary;
			border: 2rpx solid currentColor;
		}
	}

	&--primary {
		.cl-badge__content {
			background-color: $cl-color-primary;
		}
	}
	&--success {
		.cl-badge__content {
			background-color: $cl-color-success;
		}
	}
	&--warning {
		.cl-badge__content {
			background-color: $cl-color-warning;
		}
	}
	&--info {
		.cl-badge__content {
			background-color: $cl-color-info;
		}
	}
	&--error {
		.cl-badge__content {
			background-color: $cl-color-error;
		}
	}
}
