.cl-card {
	border-radius: 16rpx;
	margin-bottom: 20rpx;

	&__header {
		display: flex;
		align-items: center;
		height: 80rpx;
		border-bottom: $cl-border-width solid #f6f7fa;
		position: relative;
		padding: 0 20rpx;
	}

	&__loading {
		position: absolute;
		right: 20rpx;
		line-height: 0;
	}

	&__more {
		display: flex;
		align-items: center;
		position: absolute;
		right: 20rpx;
		color: $cl-color-info;

		.text {
			font-size: 24rpx;
			margin-right: 4rpx;
		}

		.cl-icon-arrow-right {
			font-size: 30rpx;
			line-height: 1;
		}
	}

	&__container {
		padding: 20rpx;
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 90rpx;
		padding: 0 20rpx;
	}
}
