.cl-column {
	display: flex;
	flex-direction: column;
	position: relative;

	&.is-justify-center {
		justify-content: center;
	}

	&.is-justify-end {
		justify-content: flex-end;
	}

	&.is-justify-space-between {
		justify-content: space-between;
	}

	&.is-justify-space-around {
		justify-content: space-around;
	}

	&.is-align-middle {
		align-items: center;
	}

	&.is-align-bottom {
		align-items: flex-end;
	}
}
