.cl-dialog__wrapper {
	.cl-dialog {
		position: relative;

		&__header {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			height: 90rpx;
			font-size: 32rpx;
			font-weight: 500;
		}

		&__container {
			position: relative;
			padding: 0 40rpx 40rpx 40rpx;
			font-size: 28rpx;

			&:first-child {
				padding-top: 40rpx;
			}
		}

		&__footer {
			display: flex;
			justify-content: flex-end;
			padding: 0 40rpx 40rpx 40rpx;
		}

		&__close {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			height: 50rpx;
			width: 50rpx;
			position: absolute;
			bottom: -80rpx;
			left: calc(50% - 25rpx);
			color: $cl-border-color;
			border-radius: 50rpx;
			border: 1px solid currentColor;

			text {
				font-size: 32rpx;
			}
		}
	}
}
