.cl-dialog__wrapper {
	.cl-dialog {
		position: relative;

		&__header {
			position: relative;
			text-align: center;
			padding-top: 20rpx;
		}

		&__title {
			font-size: 32rpx;
			font-weight: 500;
		}

		&__container {
			position: relative;
			padding: 20rpx 40rpx;
		}

		&__message {
			font-size: 30rpx;
			color: #606266;
			line-height: 40rpx;
		}

		&__footer {
			display: flex;
			justify-content: flex-end;
			padding: 20rpx;
		}

		&__close {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			height: 50rpx;
			width: 50rpx;
			position: absolute;
			bottom: -80rpx;
			left: calc(50% - 25rpx);
			color: #ddd;
			border-radius: 50rpx;
			border: 1px solid #ddd;

			text {
				font-size: 32rpx;
			}
		}
	}
}
