.cl-divider {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80rpx;
	width: 100%;
	position: relative;
	text-align: center;
	box-sizing: border-box;

	&__line {
		position: absolute;
		height: 1rpx;
		top: 50%;
		left: 50%;
		transform: scaleY(0.5) translateX(-50%) translateZ(0);
	}

	&__text {
		position: absolute;
		left: 50%;
		padding: 0 30rpx;
		color: $cl-color-info;
		font-size: 26rpx;
		transform: translateX(-50%);
		background-color: $cl-color-bg;
	}
}
