.cl-loading {
	display: inline-block;
	line-height: 1;
	animation: loading-rotate 1.2s linear infinite;

	@keyframes loading-rotate {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

cl-loading {
	display: inline-block;
	line-height: 0;
}
