.cl-page {
	box-sizing: border-box;
	position: relative;
	z-index: 2;

	.safe-area-bottom {
		height: env(safe-area-inset-bottom);
	}

	&__loading {
		position: relative;
		z-index: 9999;
	}

	&__bg {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: $cl-color-bg;
		z-index: -1;
	}
}
