.cl-row {
	position: relative;
	box-sizing: border-box;

	&::after,
	&::before {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}

	&--flex {
		display: flex;

		&::after,
		&::before {
			display: none;
		}
	}

	&.is-justify-start {
		justify-content: flex-start;
	}

	&.is-justify-center {
		justify-content: center;
	}

	&.is-justify-end {
		justify-content: flex-end;
	}

	&.is-justify-space-between {
		justify-content: space-between;
	}

	&.is-justify-space-around {
		justify-content: space-around;
	}

	&.is-align-top {
		align-items: flex-start;
	}

	&.is-align-center {
		align-items: center;
	}

	&.is-align-bottom {
		align-items: flex-end;
	}

	&.is-wrap {
		flex-wrap: wrap;
	}
}
