.cl-search {
	display: flex;
	align-items: center;
	box-sizing: border-box;

	&__input {
		display: flex;
		align-items: center;
		flex: 1;
		position: relative;
		background-color: #fff;
		border: $cl-border-width solid #dcdfe6;
		border-radius: 100rpx;

		cl-input,
		.cl-input {
			flex: 1;
			border: 0;
		}
	}

	&__inner {
		height: 100%;
		flex: 1;

		.cl-icon-search {
			font-size: 30rpx;
		}
	}

	&__btn {
		.cl-button {
			height: 56rpx;
			margin: 0 4rpx 0 0;
			padding: 0 34rpx;
		}
	}

	&__prepend,
	&__append {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__prepend {
		margin-right: 20rpx;
	}

	&__append {
		margin-left: 20rpx;
	}
}
