.cl-select-popup {
	&__list {
		padding: 10rpx 30rpx;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 28rpx;
		height: 90rpx;
		border-bottom: $cl-border-width solid #eee;

		.is-check {
			display: none;
		}

		&:last-child {
			border-bottom: 0;
		}

		&.is-active {
			color: $cl-color-primary;

			.is-check {
				display: inline-block;
			}
		}
	}

	&__empty {
		padding: 30rpx 0 60rpx 0;
	}

	&__footer {
		padding: 30rpx;
	}
}
