.cl-textarea {
	width: 100%;
	box-sizing: border-box;
	background-color: #fff;
	position: relative;
	line-height: 36rpx;
	border-radius: $cl-border-radius;

	/* #ifdef MP-WEIXIN */
	padding: 0 10rpx;
	/* #endif */

	/* #ifdef MP-ALIPAY */
	padding: 10rpx 0;
	/* #endif */

	/* #ifndef MP */
	padding: 10rpx 10rpx 10rpx 16rpx;
	/* #endif */

	textarea {
		text-align: left;
		width: 100%;
		box-sizing: border-box;
		font-size: $cl-font-size;
	}

	&.is-disabled {
		background-color: $cl-color-disabled-bg;
		color: $cl-color-disabled;
	}

	&__count {
		position: absolute;
		right: 10rpx;
		bottom: 4rpx;
		font-size: 24rpx;
		letter-spacing: 1rpx;
		color: #999;
	}

	&.is-count {
		/* #ifndef MP-ALIPAY */
		padding-bottom: 40rpx;
		/* #endif */
	}

	&.is-border {
		border: $cl-border-width solid $cl-border-color;
	}
}
