.cl-icon-tab-home:before {
	content: "\ec92";
}

.cl-icon-tab-my:before {
	content: "\ec93";
}

.cl-icon-image:before {
	content: "\ec91";
}

.cl-icon-map:before {
	content: "\ec8c";
}

.cl-icon-sound:before {
	content: "\ec8d";
}

.cl-icon-mute:before {
	content: "\ec8e";
}

.cl-icon-set:before {
	content: "\ec8f";
}

.cl-icon-calendar:before {
	content: "\ec90";
}

.cl-icon-delete:before {
	content: "\ec8b";
}

.cl-icon-order-refund:before {
	content: "\ec89";
}

.cl-icon-order-paid:before {
	content: "\ec8a";
}

.cl-icon-exit:before {
	content: "\ec84";
}

.cl-icon-folder:before {
	content: "\ec83";
}

.cl-icon-qrcode:before {
	content: "\ec82";
}

.cl-icon-msg:before {
	content: "\ec81";
}

.cl-icon-order-received:before {
	content: "\ec7d";
}

.cl-icon-order-not-shipped:before {
	content: "\ec7f";
}

.cl-icon-app:before {
	content: "\e905";
}

.cl-icon-payment:before {
	content: "\e906";
}

.cl-icon-face-auth:before {
	content: "\e907";
}

.cl-icon-bill:before {
	content: "\e90a";
}

.cl-icon-phone:before {
	content: "\e904";
}

.cl-icon-loading:before {
	content: "\ec94";
}

.cl-icon-home:before {
	content: "\e8ff";
}

.cl-icon-pause:before {
	content: "\ec88";
}

.cl-icon-amount-fill:before {
	content: "\e8f9";
}

.cl-icon-wallet-fill:before {
	content: "\e8fa";
}

.cl-icon-doc-fill:before {
	content: "\e8fb";
}

.cl-icon-good-fill:before {
	content: "\e8f8";
}

.cl-icon-camera-fill:before {
	content: "\e8fc";
}

.cl-icon-mail-fill:before {
	content: "\e8fd";
}

.cl-icon-bank-card-fill:before {
	content: "\e8fe";
}

.cl-icon-relay-fill:before {
	content: "\e8f7";
}

.cl-icon-comment-fill:before {
	content: "\e634";
}

.cl-icon-share:before {
	content: "\e8f3";
}

.cl-icon-link:before {
	content: "\e8f4";
}

.cl-icon-back:before {
	content: "\e8f5";
}

.cl-icon-enter:before {
	content: "\e8f6";
}

.cl-icon-top:before {
	content: "\e8ea";
}

.cl-icon-upgrade:before {
	content: "\e8eb";
}

.cl-icon-rise:before {
	content: "\e8ec";
}

.cl-icon-decline:before {
	content: "\e8ed";
}

.cl-icon-active:before {
	content: "\e8ee";
}

.cl-icon-shrink:before {
	content: "\e8f1";
}

.cl-icon-cropper:before {
	content: "\e8f2";
}

.cl-icon-fullscreen:before {
	content: "\e8ef";
}

.cl-icon-enlarge:before {
	content: "\e8f0";
}

.cl-icon-chart-pie:before {
	content: "\e8e6";
}

.cl-icon-warning:before {
	content: "\e682";
}

.cl-icon-arrow-double-left:before {
	content: "\e8e7";
}

.cl-icon-arrow-double-right:before {
	content: "\e8e8";
}

.cl-icon-like-fill:before {
	content: "\e8df";
}

.cl-icon-like:before {
	content: "\e8e0";
}

.cl-icon-my:before {
	content: "\e8e1";
}

.cl-icon-eye-open:before {
	content: "\e8dc";
}

.cl-icon-friend:before {
	content: "\e8e2";
}

.cl-icon-eye-close:before {
	content: "\e8de";
}

.cl-icon-cloud-download:before {
	content: "\e8db";
}

.cl-icon-cloud-upload:before {
	content: "\e8da";
}

.cl-icon-chart-bar:before {
	content: "\e8d8";
}

.cl-icon-clock-fill:before {
	content: "\e8cc";
}

.cl-icon-favor-fill:before {
	content: "\e8ce";
}

.cl-icon-help-fill:before {
	content: "\e8cf";
}

.cl-icon-history-fill:before {
	content: "\e8d0";
}

.cl-icon-smile-fill:before {
	content: "\e8d1";
}

.cl-icon-success-fill:before {
	content: "\e8d2";
}

.cl-icon-location-fill:before {
	content: "\e8d3";
}

.cl-icon-prompt-fill:before {
	content: "\e8d4";
}

.cl-icon-meh-fill:before {
	content: "\e8d5";
}

.cl-icon-cry-fill:before {
	content: "\e8d6";
}

.cl-icon-delete-fill:before {
	content: "\e8d7";
}

.cl-icon-stop:before {
	content: "\e8c4";
}

.cl-icon-play:before {
	content: "\e8c5";
}

.cl-icon-more:before {
	content: "\e8c6";
}

.cl-icon-back-top:before {
	content: "\e8bb";
}

.cl-icon-location:before {
	content: "\e8c7";
}

.cl-icon-keyboard-9:before {
	content: "\e8c8";
}

.cl-icon-keyboard-26:before {
	content: "\e8c9";
}

.cl-icon-customer-service:before {
	content: "\e8be";
}

.cl-icon-edit:before {
	content: "\e8ca";
}

.cl-icon-scan:before {
	content: "\e8bf";
}

.cl-icon-pay:before {
	content: "\e8c0";
}

.cl-icon-warning-border:before {
	content: "\e8b3";
}

.cl-icon-time:before {
	content: "\e8b5";
}

.cl-icon-meh:before {
	content: "\e8b6";
}

.cl-icon-cry:before {
	content: "\e8b7";
}

.cl-icon-smile:before {
	content: "\e8b8";
}

.cl-icon-refresh:before {
	content: "\e8ad";
}

.cl-icon-plus-border:before {
	content: "\e8ae";
}

.cl-icon-minus-border:before {
	content: "\e8af";
}

.cl-icon-check-border:before {
	content: "\e8b0";
}

.cl-icon-close-border:before {
	content: "\e8b1";
}

.cl-icon-help-border:before {
	content: "\e8b2";
}

.cl-icon-caret-bottom:before {
	content: "\e797";
}

.cl-icon-caret-top:before {
	content: "\e798";
}

.cl-icon-toast-warning:before {
	content: "\e62b";
}

.cl-icon-notification:before {
	content: "\e808";
}

.cl-icon-notification-fill:before {
	content: "\e807";
}

.cl-icon-arrow-bottom:before {
	content: "\e661";
}

.cl-icon-arrow-top:before {
	content: "\e6de";
}

.cl-icon-toast-waiting:before {
	content: "\e62a";
}

.cl-icon-toast-success:before {
	content: "\e642";
}

.cl-icon-toast-error:before {
	content: "\e644";
}

.cl-icon-arrow-left:before {
	content: "\e7ed";
}

.cl-icon-arrow-right:before {
	content: "\e806";
}

.cl-icon-plus:before {
	content: "\e809";
}

.cl-icon-minus:before {
	content: "\e80a";
}

.cl-icon-check:before {
	content: "\e645";
}

.cl-icon-close:before {
	content: "\e646";
}

.cl-icon-search:before {
	content: "\e65c";
}
