@import "./iconfont.scss";

@font-face {
	font-family: "cl-iconfont";
	src: url("uni_modules/cool-ui/static/iconfont/iconfont.woff2") format("woff2"),
		url("uni_modules/cool-ui/static/iconfont/iconfont.woff") format("woff"),
		url("uni_modules/cool-ui/static/iconfont/iconfont.ttf") format("truetype");
}

[class*="cl-icon-"] {
	font-family: "cl-iconfont" !important;
	font-size: inherit;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
}
