// 主色
$color-primary: #409eff;

// 辅助色
$color-default: #dcdfe6;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-error: #dd524d;
$color-info: #909399;
$color-disabled: #c0c4cc;

// 聚焦色
$color-focus-default: #eeeeee;
$color-focus-primary: #3a8ee6;
$color-focus-success: #5daf34;
$color-focus-warning: #cf9236;
$color-focus-error: #dd6161;
$color-focus-info: #82848a;
