// 颜色
$cl-color-primary: #6b69f8;
$cl-color-default: #dcdfe6;
$cl-color-success: #67c23a;
$cl-color-warning: #e6a23c;
$cl-color-error: #f56c6c;
$cl-color-info: #909399;
$cl-color-disabled: #c0c4cc;
$cl-color-disabled-bg: #f5f7fa;
$cl-color-active: #f7f7f7;
$cl-color-bg: #f6f7fa;
$cl-color-placeholder: #a8abb2;

// 通用
$cl-topbar-height: 44px;
$cl-border-color: #dcdfe6;
$cl-border-width: 1px;
$cl-font-size: 26rpx;
$cl-height: 64rpx;
$cl-border-radius: 8rpx;
$cl-zIndex: 500;

// 按钮
$cl-button-padding: 0rpx 30rpx;
$cl-button-radius: 12rpx;

// 多选框
$cl-checkbox-size: 34rpx;

// 单选框
$cl-radio-size: 34rpx;

// 计数器
$cl-input-number-size: 42rpx;

// 上传
$cl-upload-radius: 12rpx;
